JWT_SECRET_KEY=defaultvalue
ADMIN_REGISTRATION_CODE=change-me-admin-code

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=example
DB_DATABASE=postgres

PORT=4003
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002
